[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.2.16,<3.3"
django-import-export = "*"
django-extensions = "*"
django-environ = "*"
djangorestframework = "*"

[dev-packages]
black = "*"
isort = "*"
pre-commit = "*"
pytest = "*"
pytest-django = "*"
ipython = "*"

[requires]
python_version = "3.9"
